@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1678761456069') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjian:before {
  content: "\f00bd";
}

.icon-haoyou:before {
  content: "\f014b";
}

.icon-icon_shezhi:before {
  content: "\eb8d";
}

.icon-fasong:before {
  content: "\e60a";
}

